manim==0.18.1
matplotlib==3.9.0
numpy==1.26.4
pandas==2.2.2
-e git+ssh://git@github.com/finnvisz/TijeJonaFinn.git@9609d19280ed09a332ffe42f79d056cea4743635#egg=parent
plotnine==0.13.6
python-apt==2.4.0+ubuntu3
scipy==1.13.1

